﻿
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Chapato.Application.Services.Products.Queries.GetProductById;
@model ResultGetProductByIdDto
@{
    ViewData["Title"] = "ویرایش محصول";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {

    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/customcss/product/productcreate.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/AdminTemplate/assets/vendor/libs/select2/select2.css">
    <link rel="stylesheet" href="~/AdminTemplate/assets/vendor/libs/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" href="~/AdminTemplate/assets/vendor/libs/tagify/tagify.css">
    <link rel="stylesheet" href="~/AdminTemplate/assets/vendor/libs/dropzone/dropzone.css">
    <link rel="stylesheet" href="~/AdminTemplate/assets/vendor/libs/bootstrap-maxlength/bootstrap-maxlength.css">

    <style>

        .dz-filename {
            direction: ltr !important;
        }

        .parent_color {
            width: 100% !important;
            display: flex !important;
            flex-wrap: wrap !important;
            margin-top: 30px !important;
            margin-bottom: 0px !important;
            padding: 12px !important;
            justify-content: right !important;
        }

        .child_color {
            width: 50px !important;
            height: 50px !important;
            border: 1px solid cyan !important;
            margin-left: 5px !important;
            margin-bottom: 10px !important;
        }

        .active_color_list {
            padding: 20px 10px !important
        }

        .notactive_color_list {
            padding: 20px 0px !important
        }

        @@media screen and (max-width:809px) {
            .action_btn {
                width: 45px !important;
            }
        }

        #cke_notifications_area_Product_Long_Desc {
            display: none !important
        }

        .toggle_btn_padding_right {
            padding-right: 0px !important;
        }

        .btn-container {
            display: flex;
            justify-content: end;
        }

        .flex_class {
            display: flex;
        }

        .positive_point {
            background: rgba(57, 218, 138, 0.08) !important;
            color: #39da8a !important;
            border: 1px solid #39da8a !important;
            text-align: center !important;
        }

            .positive_point::placeholder {
                color: #39da8a !important;
                opacity: 0.5;
            }

        .negative_point {
            background: rgba(255, 91, 92, 0.08) !important;
            color: #ff5b5c !important;
            border: 1px solid #ff5b5c !important;
            text-align: center;
        }

            .negative_point::placeholder {
                color: #ff5b5c !important;
                opacity: 0.5;
            }

        .quality_point_removebtn {
            color: #ff5b5c !important;
            height: 42px !important;
        }

            .quality_point_removebtn:hover {
                color: white !important;
            }

        @@media screen and (min-width:992px) {
            .delivery_end_chapter {
                width: 13% !important;
            }
        }

        @@media screen and (min-width:810px) and (max-width:810px) {
            .delivery_end_chapter {
                width: 18% !important;
            }
        }

        @@media screen and (max-width:809px) {

            .delivery_end_chapter {
                width: 71% !important;
            }
        }

        .tooltip-custom {
            position: relative;
            display: inline-block;
        }

            .tooltip-custom .tooltip-text {
                font-family: IRANSans;
                font-size: 12px !important;
                visibility: hidden;
                width: 140px;
                background-color: #000;
                color: #fff;
                text-align: center;
                border-radius: 5px;
                padding: 5px;
                position: absolute;
                bottom: 100%;
                left: 50%;
                transform: translateX(-50%);
                margin-bottom: 5px;
                opacity: 0;
                transition: opacity 0.3s;
                z-index: 1;
            }

                .tooltip-custom .tooltip-text::after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #000 transparent transparent transparent;
                }

            .tooltip-custom:hover .tooltip-text {
                visibility: visible;
                opacity: 1;
            }

    </style>
}

<div class="row container row_padding">
    <div class="col col_padding">
        <div class="card mb-3">
            <div class="card-header sticky-element bg-label-secondary d-flex
                        justify-content-lg-between justify-content-md-between align-items-sm-center flex-column flex-sm-row"
                 style="background-color: #dbdbdb !important;border-bottom: 1px solid #d4d8dd;padding-top: 15px;padding-bottom: 15px">
                <div>
                    <h5 class="card-title mb-sm-0 me-2">ویرایش محصول</h5>
                </div>
                <div class="action-btns" style="text-align:left">
                    <button class="btn btn-primary" onclick="UpdateProduct()">ویرایش</button>
                    <a href="~/admin/Products/GetAllProducts" class="btn btn-secondary me-3" style="color:white !important;">
                        <span class="align-middle">بازگشت</span>
                    </a>
                </div>
            </div>
            <div class="card-header border-bottom" style="padding-top: 10px !important;">
                <ul class="nav nav-tabs card-header-tabs primary-font" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#form-tabs-social" role="tab" aria-selected="true">
                            عمومی
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#form-tabs-seo" role="tab" aria-selected="false">
                            سئو
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#form-tabs-categories" role="tab" aria-selected="false">
                            دسته بندی ها
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#form-tabs-images" role="tab" aria-selected="false" onclick="SetFileType('images')">
                            تصاویر
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#form-tabs-documents" role="tab" aria-selected="false" onclick="SetFileType('documents')">
                            اسناد
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#form-tabs-options" role="tab" aria-selected="false">
                            آپشن ها
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#form-tabs-relatedproducts" role="tab" aria-selected="false">
                            محصولات مرتبط
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#form-tabs-features" role="tab" aria-selected="false">
                            مشخصات فنی
                        </button>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade active show" id="form-tabs-social" role="tabpanel">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="Brands" class="form-label">انتخاب برند</label>
                            <div class="input-group" style="width:100% !important">
                                <select id="Brands" class="select2 form-select form-select-lg" data-allow-clear="true" asp-items="@ViewBag.Brands" onchange="Check_Brand_Value(this.id)"></select>
                                <button class="btn btn-outline-primary dropdown-toggle custom-width-after" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    عملیات
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li id="add_brand"><a class="dropdown-item btn btn-outline-primary custom-primary-btn" onclick="Show_InsertBrand_Modal()">افزودن برند</a></li>
                                    <li id="update_brand"><a class="dropdown-item btn btn-outline-success custom-success-btn" onclick="Show_UpdateBrand_Modal()">ویرایش برند</a></li>
                                    <li id="delete_brand"><a class="dropdown-item btn btn-outline-danger  custom-danger-btn" onclick="DeleteBrand()">حذف برند</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="Existence">وضعیت موجودی</label>
                            <select id="Existence" class="form-select">
                                <option value="Exist">موجود</option>
                                <option value="NotExist">ناموجود</option>
                                <option value="ExistSoon">در حال تامین موجودی</option>
                            </select>
                        </div>
                    </div>
                    <div class="row g-3 mt-1">
                        <div class="col-md-6">
                            <label class="form-label" for="Product_Name">نام محصول</label>
                            <input type="text" id="Product_Name" class="form-control text-center" placeholder="لپ تاپ لنوو مدل G5070">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="Unique_Code">کد یکتا</label>
                            <input type="text" id="Unique_Code" class="form-control text-center" placeholder="Lenovo_G5070">
                        </div>
                    </div>
                    <div class="row g-3 mt-1">
                        <div class="col-md-6">
                            <label class="form-label" for="Product_Price">قیمت محصول (تومان)</label>
                            <input type="text" id="Product_Price" class="form-control text-center" placeholder="500,000" onkeyup="Comma(this.id)">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="Product_Inventory">تعداد محصول (موجودی انبار)</label>
                            <input class="form-control text-center" id="Product_Inventory" type="number" value="1" min="1">
                        </div>
                    </div>
                    <div class="row g-3 mt-1">
                        <div class="col-md-12">
                            <label class="form-label" for="Delivery_Desc">توضیحات تحویل محصول</label>
                            <input type="text" id="Delivery_Desc" class="form-control" placeholder="مدت زمان تحویل 1 الی 10 روز کاری">
                        </div>
                    </div>
                    <div class="row g-3 mt-1">
                        <div class="col-md-16">
                            <label class="form-label" for="Delivery_Period">مدت زمان تحویل محصول</label>
                            <div class="d-flex">
                                <span style="font-family:IRANSans;position: relative;top: 10px;margin-left: 10px;">از</span>
                                <input type="number" id="Delivery_Period_MinTime" class="form-control" min="1" value="" style="text-align:center;margin-left: 10px;" onchange="SetMAxTime(this.value)">
                                <span style="font-family:IRANSans;position: relative;top: 10px;">تا</span>
                                <input type="number" id="Delivery_Period_MaxTime" class="form-control" min="1" value="" style="text-align:center;margin-right:10px">
                                <span class="delivery_end_chapter" style="font-family:IRANSans;margin-right:10px;position:relative;top:10px">روز کاری</span>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 mt-1">
                        <div class="col-md-12">
                            <label class="form-label" for="Product_Desc">نقد و بررسی اجمالی محصول</label>
                            <textarea id="Product_Desc" class="form-control" rows="5" placeholder="این محصول ساخت کمپانی لنوو می باشد"></textarea>
                        </div>
                    </div>
                    <div class="row g-3 mt-1">
                        <div class="col-lg-12 col-md-12 col-sm-12 accordion accordion-header-primary">
                            <div id="Product_Quality_Points" class="container accordion-item active active_color_list" style="display:block" data-index="">
                                <h2 id="Product_Quality_Points_Header" class="accordion-header" style="border-bottom: 1px solid #bdbdbd !important;border-radius: 5px;">
                                    <button id="Product_Quality_Points_Toggle_Btn" class="accordion-button toggle_btn_padding_right" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#Product_Quality_Points_Items" aria-controls="Product_Quality_Points_Items" onclick="Toggle_Product_Quality_Points()">
                                        نقاط <span style="color:forestgreen !important;padding-left: 3px !important;padding-right: 3px !important;"> قوت </span> و <span style="color:red !important;padding-right: 3px !important;"> ضعف </span>
                                    </button>
                                </h2>
                                <div id="Product_Quality_Points_Items" class="row collapse show">
                                    <div class="d-lg-flex d-md-flex d-sm-block" style="margin-top: 20px;">
                                        <div class="col-lg-6 col-md-6 col-sm-12 option_group">
                                            <div class="card">
                                                <h5 class="card-header heading-color">نقاط <span style="color:forestgreen !important;padding-left: 3px !important;"> قوت </span></h5>
                                                <div id="Positive_Points_Body" class="card-body">
                                                    <div class="d-flex col-12 container" style="border: 1px solid gray;padding: 11px 10px 10px 10px;border-radius: 5px;">
                                                        <div class="col-9" style="justify-content:center;margin-left:5px">
                                                            <input type="text" id="Positive_Points_Text" class="form-control" placeholder="نقاط قوت"
                                                                   style="width:100%;text-align:right;margin-left:10px" />
                                                        </div>
                                                        <div class="col-3" style="text-align:center">
                                                            <button class="btn btn-primary" style="height: 41px;width:100%" onclick="Add_PositivePoint(document.getElementById('Positive_Points_Text').value)">
                                                                <i class="bx bx-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div style="margin-top: 10px;margin-bottom: 10px;border: 1px dashed gray;"></div>
                                                    <table id="Positive_Points_Tbl" style="width:100%">
                                                        <tbody id="Positive_Points_Tbl_Tbody">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 option_group">
                                            <div class="card">
                                                <h5 class="card-header heading-color">نقاط <span style="color:red !important;padding-left: 3px !important;"> ضعف </span></h5>
                                                <div id="Negative_Points_Body" class="card-body">
                                                    <div class="d-flex col-12 container" style="border: 1px solid gray;padding: 11px 10px 10px 10px;border-radius: 5px;">
                                                        <div class="col-9" style="justify-content:center;margin-left:5px">
                                                            <input type="text" id="Negative_Points_Text" class="form-control" placeholder="نقاط ضعف"
                                                                   style="width:100%;text-align:right;margin-left:10px" />
                                                        </div>
                                                        <div class="col-3" style="text-align:center">
                                                            <button class="btn btn-primary" style="height: 41px;width:100%" onclick="Add_NegativePoint(document.getElementById('Negative_Points_Text').value)">
                                                                <i class="bx bx-plus"></i>
                                                                @*<span class="align-middle">افزودن</span> *@
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div style="margin-top: 10px;margin-bottom: 10px;border: 1px dashed gray;"></div>
                                                    <table id="Negative_Points_Tbl" style="width:100%">
                                                        <tbody id="Negative_Points_Tbl_Tbody">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 mt-1">
                        <div class="col-lg-12 col-md-12 col-sm-12 accordion accordion-header-primary">
                            <div id="Product_Long_Desc" class="container accordion-item active active_color_list" style="display:block" data-index="">
                                <h2 id="Product_Long_Desc_Header" class="accordion-header" style="border-bottom: 1px solid #bdbdbd !important;border-radius: 5px;">
                                    <button id="Product_Long_Desc_Toggle_Btn" class="accordion-button toggle_btn_padding_right" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#Product_Long_Desc_Items" aria-controls="Product_Long_Desc_Items" onclick="Toggle_Product_Long_Desc()">
                                        توضیحات مفصل نقد و بررسی
                                    </button>
                                </h2>
                                <div id="Product_Long_Desc_Items" class="row collapse show" style="margin-top:20px;">
                                    <div class="col-md-12">
                                        <label class="form-label" for="Product_Review_Title">عنوان نقد و بررسی</label>
                                        <input type="text" id="Product_Review_Title" name="Product_Long_Desc" class="form-control" placeholder="عنوان نقد و بررسی" />
                                    </div>
                                    <div class="col-md-12" style="margin-top: 15px;">
                                        <label class="form-label" for="Product_Review_Audio_Link">فایل صوتی</label>
                                        <input class="form-control" type="text" id="Product_Review_Audio_Link" placeholder="لینک فایل صوتی را وارد کنید" onkeyup="GenerateAudioEmbed()">
                                    </div>
                                    <div class="col-md-12" style="margin-top: 15px;">
                                        <textarea class="form-control" id="audioEmbedCode" placeholder="کد HTML فایل صوتی در اینجا نمایش داده می‌شود" readonly style="display:none;direction:ltr"></textarea>
                                        <div id="Audio_Buttons_Parent" class="d-none">
                                            <button id="Btn_Copy_Audio_Body" class="btn btn-primary mt-4" onclick="CopyToClipboard('audioEmbedCode')" style="margin-left:10px">کپی</button>
                                            <button id="Btn_Clear_Audio_Input" class="btn btn-success mt-4" onclick="ClearInput('Product_Review_Audio_Link')">بازنشانی</button>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-top: 15px;">
                                        <label class="form-label" for="Product_Review_Video_Link">فایل تصویری</label>
                                        <input class="form-control" type="text" id="Product_Review_Video_Link" placeholder="لینک ویدیو را وارد کنید" onkeyup="GenerateVideoEmbed()">
                                    </div>
                                    <div class="col-md-12" style="margin-top: 15px;">
                                        <textarea class="form-control" id="videoEmbedCode" placeholder="کد HTML ویدیو در اینجا نمایش داده می‌شود" readonly style="display:none;direction:ltr"></textarea>
                                        <div id="Video_Buttons_Parent" class="d-none" style="display:none">
                                            <button id="Btn_Copy_Video_Body" class="btn btn-primary mt-4" onclick="CopyToClipboard('videoEmbedCode')" style="margin-left:10px">کپی</button>
                                            <button id="Btn_Clear_Video_Input" class="btn btn-success mt-4" onclick="ClearInput('Product_Review_Video_Link')">بازنشانی</button>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-top: 15px;">
                                        <label class="form-label" for="Product_Review_Desc">توضیحات نقد و بررسی</label>
                                        <textarea id="Product_Review_Desc" name="Product_Review_Desc" class="form-control"></textarea>
                                    </div>
                                    <div class="col-md-12" style="margin-top: 20px;">
                                        <button id="Btn_Add_LongDesc_Item" class="btn btn-primary" style="display:block">افزودن</button>
                                        <div id="Update_Btns_LongDesc" class="flex_class" style="display:none">
                                            <button id="Btn_Edit_LongDesc_Item" class="btn btn-success" style="margin-left:5px">ویرایش</button>
                                            <button id="Btn_Refresh_LongDesc_Item" class="btn btn-secondary">بازنشانی</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 mt-1">
                        <div id="Review_Options_List" class="col-md-12" style="display:none">
                            <h4 style="font-family:IRANSans !important">لیست آپشن های نقد و بررسی</h4>
                            <div id="Product_Review_Long_Desc_List">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 mt-1">
                        <div class="col-md-12">
                            <iframe id="video_iframe" class='aparat-music-player-iframe' style="width:100%;border-radius: 8px;padding: 0;border: none;height:510px;display:none" src='' title='Aparat Music Player' frameBorder='0'></iframe>
                        </div>
                    </div>
                    <div class="row g-3 mt-1">
                        <div class="col-md-12">
                            <label class="form-label" for="Product_Video_Link">لینک ویدئو</label>
                            <input type="text" id="Product_Video_Link" class="form-control" style="text-align:left" placeholder="https://www.aparat.com/video/video/embed/videohash/zil633r/vt/frame" onkeyup="Show_Video_Iframe(this.value)">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="form-tabs-seo" role="tabpanel">
                    <div class="row g-3">
                        <div class="col-md-12">
                            <label class="form-label" for="Meta_Title">عنوان صفحه (Meta Title)</label>
                            <input type="text" id="Meta_Title" class="form-control" placeholder="تجربه خرید هوشمند با دیجی کالا">
                        </div>
                    </div>
                    <div class="row g-3 mt-1">
                        <div class="col-md-12">
                            <label class="form-label" for="Meta_Url">لینک صفحه (Meta URL)</label>
                            <input type="text" id="Meta_Url" class="form-control" placeholder="https://www.digikala.com">
                        </div>
                    </div>
                    <div class="row g-3 mt-1">
                        <div id="Meta_Keywords_Parent" class="col-md-12 mb-4">
                            <label for="TagifyBasic" class="form-label">کلمات کلیدی (Meta Keywords)</label>
                            <input id="TagifyBasic" class="form-control" name="Meta_Keywords" value="دیجی کالا">
                        </div>
                    </div>
                    <div class="row g-3 mt-1">
                        <div class="col-md-12">
                            <label class="form-label" for="Meta_Desc">توضیحات (Meta Description)</label>
                            <textarea id="Meta_Desc" class="form-control" rows="3" placeholder="اولین پلتفرم فروشگاهی ایران"></textarea>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="form-tabs-categories" role="tabpanel">
                    <div id="Categories_Parent" class="col-md-6 mb-4">
                        <label for="TagifyUserList1" class="form-label">انتخاب دسته بندی</label>
                        <input id="TagifyUserList1" name="TagifyUserList1" class="form-control" placeholder="انتخاب دسته بندی" value="" style="padding: 2px !important;">
                    </div>
                </div>
                <div class="tab-pane fade" id="form-tabs-images" role="tabpanel">
                    <div class="col-12">
                        <div class="card">
                            <h5 class="card-header heading-color">تصاویر محصول</h5>
                            <div class="card-body">
                                <form action="/upload" class="dropzone needsclick" id="dropzone-multi-1">
                                    <div class="dz-message needsclick">
                                        فایل‌ها را اینجا رها کنید و یا کلیک کنید
                                        <span class="note needsclick">(این تنها یک ناحیه رها کردن نمونه است. فایل های انتخاب شده واقعا ارسال <strong>نمی‌شوند</strong>.)</span>
                                    </div>
                                    <div class="fallback">
                                        <input id="product_images" name="file" type="file" multiple>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="form-tabs-documents" role="tabpanel">
                    <div class="col-12">
                        <div class="card">
                            <h5 class="card-header heading-color">اسناد محصول</h5>
                            <div class="card-body">
                                <form action="/upload" class="dropzone needsclick" id="dropzone-multi-2">
                                    <div class="dz-message needsclick">
                                        فایل‌ها را اینجا رها کنید و یا کلیک کنید
                                        <span class="note needsclick">(این تنها یک ناحیه رها کردن نمونه است. فایل های انتخاب شده واقعا ارسال <strong>نمی‌شوند</strong>.)</span>
                                    </div>
                                    <div class="fallback">
                                        <input id="product_documents" name="file" type="file" multiple>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="form-tabs-options" role="tabpanel">
                    <div class="col-lg-12 col-md-12 col-sm-12 accordion accordion-header-primary">
                        <div id="Product_Color_List" class="container accordion-item active active_color_list" style="display:block">
                            <h2 id="Product_Color_List_Header" class="accordion-header" style="border-bottom: 1px solid #bdbdbd !important;border-radius: 5px;">
                                <button id="Product_Color_List_ToggleBtn" class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#Product_Color_List_Items" aria-controls="Product_Color_List_Items" onclick="Toggle_Product_ColorList()">
                                    مخزن رنگ
                                </button>
                            </h2>
                            <div id="Product_Color_List_Items" class="row collapse show" style="margin-top:20px;">
                                <div class="input-group" style="width:100% !important;margin-bottom:20px">
                                    <select id="Colors" class="select2 form-select form-select-lg" data-allow-clear="true" asp-items="@ViewBag.Colors" onchange="Check_Color_Value(this.id)"></select>
                                    <button class="btn btn-outline-primary dropdown-toggle custom-width-after-plus" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        عملیات
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li id="add_color"><a class="dropdown-item btn btn-outline-primary custom-primary-btn" onclick="Show_InsertColor_Modal()">افزودن رنگ</a></li>
                                        <li id="update_color"><a class="dropdown-item btn btn-outline-success custom-success-btn" onclick="Show_UpdateColor_Modal()">ویرایش رنگ</a></li>
                                        <li id="delete_color"><a class="dropdown-item btn btn-outline-danger  custom-danger-btn" onclick="DeleteColor()">حذف رنگ</a></li>
                                    </ul>
                                </div>
                                <div id="Add_ColorOption_Parent" class="col-5" style="text-align:right">
                                    <button class="btn btn-primary" style="height: 41px;" onclick="Show_Insert_ColorToList_Modal()">
                                        <i class="bx bx-plus"></i>
                                        <span class="align-middle">افزودن آپشن</span>
                                    </button>
                                </div>
                                <table id="Colors_Tbl" class="input-group" style="display:block !important;margin-top:20px !important">
                                    <tbody id="Colors_Tbl_TBody">
                                    </tbody>
                                </table>

                                <div id="Color_List" class="input-group parent_color">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="form-tabs-relatedproducts" role="tabpanel">
                    <div class="d-lg-flex d-md-flex d-sm-block">
                        <div class="col-lg-12 col-md-12 col-sm-12 accordion accordion-header-primary">
                            <div id="Related_Product_List" class="container accordion-item active" style="padding:20px 10px;display:none">
                                <h2 id="Related_Product_List_Header" class="accordion-header" style="border-bottom: 1px solid #bdbdbd !important;border-radius: 5px;">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#Related_Product_List_Items" aria-controls="Related_Product_List_Items" onclick="Toggle_Related_ProductList()">
                                        لیست محصولات مرتبط
                                    </button>
                                </h2>
                                <div id="Related_Product_List_Items" class="row collapse show" style="margin-top:20px;">
                                </div>
                            </div>
                            <div id="Operation_Tab_Parent" class="operation_tab_parent">
                                <div id="Operation_Tab" class="col-12 d-lg-flex d-md-block d-sm-block mb-4">
                                    <div style="margin-left:12px;margin-bottom:15px">
                                        <label for="Rel_Product_Name" class="form-label">نام محصول</label>
                                        <input id="Rel_Product_Name" type="text" class="form-control" placeholder="جستجو نام محصول" style="height:39px;" />
                                    </div>
                                    <div id="RelProduct_Categories_Parent" style="margin-left:12px;margin-bottom:15px">
                                        <label for="TagifyUserList2" class="form-label">انتخاب دسته بندی</label>
                                        <input id="TagifyUserList2" name="TagifyUserList" class="form-control" placeholder="انتخاب دسته بندی" value="" style="padding: 2px !important;">
                                    </div>
                                    <div style="height: 39px;margin-top: 26px;margin-bottom:15px">
                                        <a id="search" type="button" class="btn btn-success" style="color:white !important;" onclick="SearchProducts_Update()">جستجو</a>
                                    </div>
                                </div>
                            </div>
                            <div id="Search_Result" class="container accordion-item active" style="padding: 0 10px 20px 10px;display:none">
                                <h2 id="Search_Result_Header" class="accordion-header" style="border-bottom: 1px solid #bdbdbd !important;border-radius: 5px;">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#Search_Result_Items" aria-controls="Search_Result_Items" onclick="ToggleSarchResult()">
                                        نتایج جستجو
                                    </button>
                                </h2>
                                <div id="Search_Result_Items" class="row collapse show" style="margin-top:20px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="form-tabs-features" role="tabpanel">
                    <article>
                        <h2 class="params-headline">
                            <span></span>
                        </h2>
                        <section>
                            <ul id="FeatureList" class="params-list">
                            </ul>
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Insert Brand Modal -->
<div class="modal fade" id="Insert_Brand_Modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">افزودن برند جدید</h4>
                <button type="button" class="close modal_close_btn" onclick="HideModal(this.dataset.id)" data-id="Insert_Brand_Modal">
                    &times;
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="brandName">نام برند</label>
                        <input type="text" class="form-control mt-2" id="Add_BrandName" placeholder="نام برند را وارد نمایید">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="AddBrand()">ثبت</button>
                <button type="button" class="btn btn-secondary" onclick="HideModal(this.dataset.id)" data-id="Insert_Brand_Modal">بستن</button>
            </div>

        </div>
    </div>
</div>

<!-- Update Brand Modal -->
<div class="modal fade" id="Update_Brand_Modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">ویرایش برند</h4>
                <button type="button" class="close modal_close_btn" onclick="HideModal(this.dataset.id)" data-id="Update_Brand_Modal">
                    &times;
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="brandName">نام برند</label>
                        <input type="text" class="form-control mt-2" id="Update_BrandName" placeholder="نام برند را وارد نمایید">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="UpdateBrand()">ویرایش</button>
                <button type="button" class="btn btn-secondary" onclick="HideModal(this.dataset.id)" data-id="Update_Brand_Modal">بستن</button>
            </div>

        </div>
    </div>
</div>

<!-- Insert Color Modal -->
<div class="modal fade" id="Insert_Color_Modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">افزودن رنگ جدید</h4>
                <button type="button" class="close modal_close_btn" onclick="HideModal(this.dataset.id)" data-id="Insert_Color_Modal">
                    &times;
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group mb-4">
                        <label for="Add_ColorName">نام رنگ</label>
                        <input type="text" class="form-control mt-2" id="Add_ColorName" placeholder="نام رنگ را وارد نمایید">
                    </div>
                    <div class="form-group">
                        <label for="Add_ColorHex">کد HEX</label>
                        <input type="text" class="form-control mt-2" id="Add_ColorHex" placeholder="کد HEX را وارد نمایید">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="AddColor()">ثبت</button>
                <button type="button" class="btn btn-secondary" onclick="HideModal(this.dataset.id)" data-id="Insert_Color_Modal">بستن</button>
            </div>

        </div>
    </div>
</div>
<!-- Update Color Modal -->
<div class="modal fade" id="Update_Color_Modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">ویرایش رنگ</h4>
                <button type="button" class="close modal_close_btn" onclick="HideModal(this.dataset.id)" data-id="Update_Color_Modal">
                    &times;
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group mb-4">
                        <label for="Update_ColorName">نام رنگ</label>
                        <input type="text" class="form-control mt-2" id="Update_ColorName" placeholder="نام رنگ را وارد نمایید">
                    </div>
                    <div class="form-group">
                        <label for="Update_ColorHex">کد HEX</label>
                        <input type="text" class="form-control mt-2" id="Update_ColorHex" placeholder="کد HEX را وارد نمایید">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="UpdateColor()">ویرایش</button>
                <button type="button" class="btn btn-secondary" onclick="HideModal(this.dataset.id)" data-id="Update_Color_Modal">بستن</button>
            </div>

        </div>
    </div>
</div>

<!-- Insert ColorToList Modal -->
<div class="modal fade" id="Insert_ColorToList_Modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">افزودن آپشن رنگ</h4>
                <button type="button" class="close modal_close_btn" onclick="HideModal(this.dataset.id)" data-id="Insert_ColorToList_Modal">
                    &times;
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group mb-4">
                        <label for="Insert_SelectColor" class="mb-2">انتخاب رنگ</label>
                        <select id="Insert_SelectColor" class="select2 form-select form-select-lg" data-allow-clear="true" asp-items="@ViewBag.Colors" onchange="SetColor_For_InsertOption()"></select>
                    </div>
                    <div class="form-group mb-4">
                        <label for="Insert_ColorOp_ColorName">نام رنگ</label>
                        <input type="text" class="form-control mt-2" id="Insert_ColorOp_ColorName" disabled>
                    </div>
                    <div class="form-group mb-4">
                        <label for="Insert_ColorOp_ColorHex">کد HEX</label>
                        <input type="text" class="form-control mt-2" id="Insert_ColorOp_ColorHex" disabled>
                    </div>
                    <div class="form-group mb-4">
                        <label for="Add_Color_Diff_Price">اختلاف قیمت</label>
                        <input type="text" class="form-control mt-2" id="Add_Color_Diff_Price" onkeyup="Comma_Plus(this)" placeholder="اختلاف قیمت را وارد نمایید">
                    </div>
                    <div class="form-group">
                        <label for="Add_Color_Inventory">تعداد موجودی</label>
                        <input type="number" class="form-control mt-2" id="Add_Color_Inventory" value="0" min="0" placeholder="تعداد موجودی را وارد نمایید">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="AddColorToList()">ثبت</button>
                <button type="button" class="btn btn-secondary" onclick="HideModal(this.dataset.id)" data-id="Insert_ColorToList_Modal">بستن</button>
            </div>

        </div>
    </div>
</div>
<!-- Update ColorToList Modal -->
<div class="modal fade" id="Update_ColorToList_Modal" data-parentid="" data-colorid="">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">ویرایش آپشن رنگ</h4>
                <button type="button" class="close modal_close_btn" onclick="HideModal(this.dataset.id)" data-id="Update_ColorToList_Modal">
                    &times;
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group mb-4">
                        <label for="Update_SelectColor" class="mb-2">انتخاب رنگ</label>
                        <select id="Update_SelectColor" class="select2 form-select form-select-lg" data-allow-clear="true" asp-items="@ViewBag.Colors" onchange="SetColor_For_UpdateOption()"></select>
                    </div>
                    <div class="form-group mb-4">
                        <label for="Update_ColorOp_ColorName">نام رنگ</label>
                        <input type="text" class="form-control mt-2" id="Update_ColorOp_ColorName" disabled>
                    </div>
                    <div class="form-group mb-4">
                        <label for="Update_ColorOp_ColorHex">کد HEX</label>
                        <input type="text" class="form-control mt-2" id="Update_ColorOp_ColorHex" disabled>
                    </div>
                    <div class="form-group mb-4">
                        <label for="Update_Color_Diff_Price">اختلاف قیمت</label>
                        <input type="text" class="form-control mt-2" id="Update_Color_Diff_Price" onkeyup="Comma_Plus(this)" placeholder="اختلاف قیمت را وارد نمایید">
                    </div>
                    <div class="form-group">
                        <label for="Update_Color_Inventory">تعداد موجودی</label>
                        <input type="number" class="form-control mt-2" id="Update_Color_Inventory" value="0" min="0" placeholder="تعداد موجودی را وارد نمایید">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="UpdateColorOption()">ویرایش</button>
                <button type="button" class="btn btn-secondary" onclick="HideModal(this.dataset.id)" data-id="Update_ColorToList_Modal">بستن</button>
            </div>

        </div>
    </div>
</div>

<!-- Update SubOption_ToolTip Modal -->
<div class="modal fade" id="Update_SubOption_ToolTip_Modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">ویرایش متن معرفی</h4>
                <button type="button" class="close modal_close_btn" onclick="HideModal(this.dataset.id)" data-id="Update_SubOption_ToolTip_Modal">
                    &times;
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group mb-4">
                        <label for="Update_ColorOp_ColorName">متن معرفی</label>
                        <textarea class="form-control mt-2" id="Update_ToolTip_Desc" rows="5"></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Update_SubOption_ToolTip_For_UpdateProduct()">ویرایش</button>
                <button type="button" class="btn btn-secondary" onclick="HideModal(this.dataset.id)" data-id="Update_SubOption_ToolTip_Modal">بستن</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="Update_Option_ToolTip_Modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">ویرایش متن معرفی</h4>
                <button type="button" class="close modal_close_btn" onclick="HideModal(this.dataset.id)" data-id="Update_Option_ToolTip_Modal">
                    &times;
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group mb-4">
                        <label for="Update_ColorOp_ColorName">متن معرفی</label>
                        <textarea class="form-control mt-2" id="Update_ToolTip_Desc_ForOption" rows="5"></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Update_Option_ToolTip_For_UpdateProduct()">ویرایش</button>
                <button type="button" class="btn btn-secondary" onclick="HideModal(this.dataset.id)" data-id="Update_Option_ToolTip_Modal">بستن</button>
            </div>

        </div>
    </div>
</div>

@section Scripts {

    <script src="~/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/AdminTemplate/assets/vendor/libs/select2/select2.js"></script>
    <script src="~/AdminTemplate/assets/vendor/libs/select2/i18n/fa.js"></script>
    <script src="~/AdminTemplate/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
    <script src="~/AdminTemplate/assets/vendor/libs/bootstrap-select/i18n/defaults-fa_IR.js"></script>
    <script src="~/AdminTemplate/assets/vendor/libs/tagify/tagify.js"></script>
    <script src="~/admintemplate/assets/js/forms-tagify.js"></script>
    <script src="~/AdminTemplate/assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="~/AdminTemplate/assets/vendor/libs/bloodhound/bloodhound.js"></script>
    <script src="~/AdminTemplate/assets/vendor/libs/dropzone/dropzone.js"></script>
    <script src="~/AdminTemplate/assets/js/forms-file-upload.js"></script>
    <script src="~/customjs/products/productcreate.js"></script>
    <script src="~/AdminTemplate/assets/vendor/libs/jquery-sticky/jquery-sticky.js"></script>
    <script src="~/AdminTemplate/assets/js/form-layouts.js"></script>
    <script src="~/AdminTemplate/assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="~/AdminTemplate/assets/vendor/libs/jquery-repeater/jquery-repeater.js"></script>
    <script src="~/AdminTemplate/assets/js/forms-extras.js"></script>

    <script>

        const previewTemplate1 =
            `<div class="dz-preview dz-file-preview new_img">
                    <div class="dz-details">
                        <div class="dz-thumbnail">
                            <img data-dz-thumbnail="" alt="" src="">
                            <span class="dz-nopreview">No preview</span>
                            <div class="dz-success-mark">
                                <div class="dz-error-mark">
                                    <svg width="54px" height="54px">
                                        <g fill="none" fill-rule="evenodd">
                                            <path d="M23.5,31.8431458 L44.7928932,10.5502525 C45.1834175,10.1597283 45.8165825,10.1597283 46.2071068,10.5502525 L48.7071068,13.0502525 C49.0976311,13.4407767 49.0976311,14.0739418 48.7071068,14.464466 L24.7071068,38.464466 C24.3165825,38.8550204 23.6834175,38.8550204 23.2928932,38.464466 L13.2928932,28.464466 C12.9023689,28.0739418 12.9023689,27.4407767 13.2928932,27.0502525 L15.7928932,24.5502525 C16.1834175,24.1597283 16.8165825,24.1597283 17.2071068,24.5502525 L23.5,31.8431458 Z" fill="#FFFFFF"></path>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="dz-error-mark">
                            </div>
                            <div class="dz-error-message">
                                <span data-dz-errormessage=""></span>
                            </div>
                            <div class="dz-progress">
                                <span class="dz-upload" data-dz-uploadprogress></span>
                            </div>
                                </div>
                        <div class="dz-filename" data-dz-name=""></div>
                        <div class="dz-size" data-dz-size=""><strong></strong> MB</div>

                    </div>
                </div>`

        const dropzoneMulti1 = new Dropzone('#dropzone-multi-1', {
            previewTemplate: previewTemplate1,
            parallelUploads: 1,
            maxFilesize: 6,
            addRemoveLinks: true,
            dictRemoveFile: "حذف فایل",
            dictCancelUpload: "لغو ارسال"
        });

        const previewTemplate2 =
            `<div class="dz-preview dz-file-preview new_doc">
                        <div class="dz-details">
                            <div class="dz-thumbnail">
                                        <img data-dz-thumbnail="" alt="" src="/AdminTemplate/assets/img/dropzonepreview/pdf/pdfpreview.png">
                                <span class="dz-nopreview">No preview</span>
                                <div class="dz-success-mark">
                                    <div class="dz-error-mark">
                                        <svg width="54px" height="54px">
                                            <g fill="none" fill-rule="evenodd">
                                                <path d="M23.5,31.8431458 L44.7928932,10.5502525 C45.1834175,10.1597283 45.8165825,10.1597283 46.2071068,10.5502525 L48.7071068,13.0502525 C49.0976311,13.4407767 49.0976311,14.0739418 48.7071068,14.464466 L24.7071068,38.464466 C24.3165825,38.8550204 23.6834175,38.8550204 23.2928932,38.464466 L13.2928932,28.464466 C12.9023689,28.0739418 12.9023689,27.4407767 13.2928932,27.0502525 L15.7928932,24.5502525 C16.1834175,24.1597283 16.8165825,24.1597283 17.2071068,24.5502525 L23.5,31.8431458 Z" fill="#FFFFFF"></path>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                                <div class="dz-error-mark">
                                </div>
                                <div class="dz-error-message">
                                    <span data-dz-errormessage=""></span>
                                </div>
                                <div class="dz-progress">
                                    <span class="dz-upload" data-dz-uploadprogress></span>
                                </div>
                                    </div>
                            <div class="dz-filename" data-dz-name=""></div>
                            <div class="dz-size" data-dz-size=""><strong></strong> MB</div>

                        </div>
                    </div>`

        const dropzoneMulti2 = new Dropzone('#dropzone-multi-2', {
            previewTemplate: previewTemplate2,
            parallelUploads: 1,
            maxFilesize: 6,
            addRemoveLinks: true,
            dictRemoveFile: "حذف فایل",
            dictCancelUpload: "لغو ارسال"
        });

    </script>

    <script>

        $(document).ready(function () {

            function getQueryParam(param) {
                let urlParams = new URLSearchParams(window.location.search);
                return urlParams.get(param);
            }

            let productId = getQueryParam('ProductId');

            var productModel = @Html.Raw(Json.Serialize(Model));
            console.log("productModel: ", productModel);

            var currentButton = null;
            var colId = null;

            $('[data-toggle="tooltip"]').tooltip({
                placement: 'top',
                container: 'body'
            }).on('shown.bs.tooltip', function () {
                var $tooltip = $('.tooltip');
                var $button = $(this);
                var buttonOffset = $button.offset();
                var tooltipHeight = $tooltip.outerHeight();
                var buttonHeight = $button.outerHeight();

                $tooltip.css({
                    top: buttonOffset.top - tooltipHeight,
                    left: buttonOffset.left + ($button.outerWidth() / 2) - ($tooltip.outerWidth() / 2)
                });
            });

            document.getElementById("Brands").parentNode.classList.add("custom-width");
            document.getElementById("Colors").parentNode.classList.add("custom-width-plus");

            CKEDITOR.replace('Product_Review_Desc', {
                height: 220,
                language: 'fa',
                contentsLangDirection: 'rtl',
                extraAllowedContent: 'audio[*]{*}(*); source[*]{*}(*); iframe[*]{*}(*);video[*]{*}(*); source[*]{*}(*);'
            });

            var addButton = document.getElementById('Btn_Add_LongDesc_Item');

            addButton.addEventListener('click', function () {
                AddNewOption();
            });

            var editButton = document.getElementById('Btn_Edit_LongDesc_Item');

            editButton.addEventListener('click', function () {
                EditOption();
            });

            var refreshButton = document.getElementById('Btn_Refresh_LongDesc_Item');

            refreshButton.addEventListener('click', function () {
                RefreshForm();
            });

            GetProductInfos(productModel);
            ProductCategory(productModel);
            RelatedProductCategory();
        });


    </script>
}