﻿
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Chapato.Application.Services.Users.Queries.GetEditUserInfo
@model ResultGetUserInfoDto
@{
    ViewData["Title"] = "ویرایش اطلاعات کاربر";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {

    <link href="~/CustomCss/Users/UserEdit.css" rel="stylesheet" />
    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/AdminTemplate/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/AdminTemplate/assets/vendor/libs/typeahead-js/typeahead.css">
    <link rel="stylesheet" href="~/AdminTemplate/assets/vendor/libs/select2/select2.css">
    <link rel="stylesheet" href="~/AdminTemplate/assets/vendor/libs/tagify/tagify.css">
    <link rel="stylesheet" href="~/AdminTemplate/assets/vendor/libs/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" href="~/AdminTemplate/assets/vendor/libs/typeahead-js/typeahead.css">
}

<div class="container-xxl flex-grow-1 container-p-y row" style="padding-top:0 !important;margin-top:-4px !important;height:auto !important;">
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">ثبت نام کاربر جدید</h5>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">نقش</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <select id="Edit_RoleId" name="Edit_RoleId" class="selectpicker w-100 mb-2" asp-items="@ViewBag.Roles" data-style="btn-default" multiple data-icon-base="bx" data-tick-icon="bx-check text-primary"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">نام</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-user"></i></span>
                                <span id="basic-icon-default-fullname2" class="input-group-text" dir="ltr"></span>
                                <input type="text" class="form-control" id="Edit_FullName" placeholder="وحید خدابنده‌لو" aria-label="vahid khodabandeloo" aria-describedby="basic-icon-default-fullname2" value="@Model.FullName">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-phone">شماره تلفن</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-phone"></i></span>
                                <span id="basic-icon-default-phone2" class="input-group-text" dir="ltr"></span>
                                <input type="text" class="form-control" id="Edit_PhoneNumber" placeholder="09036865685" aria-label="" aria-describedby="basic-icon-default-phone2" value="@Model.Phone_Number" onblur="Validate_PhoneNumber(this,this.value)">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <label class="col-sm-2 col-form-label text-nowrap" for="basic-icon-default-email">پست الکترونیک</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                                <span id="basic-icon-default-email2" class="input-group-text" dir="ltr"></span>
                                <input type="text" id="Edit_Email" class="form-control text-start" placeholder="vahid.khodabandeloo@gmail.com" aria-label="vahid.khodabandeloo@gmail.com" aria-describedby="basic-icon-default-email2" dir="ltr" value="@Model.Email">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-sm-12">
                        <a id="EditBtn" onclick="EditUser('@Model.UserId')" class="btn btn-primary mt-4 mobile_width btn_txtcolor">ویرایش</a>
                        <a href="~/admin/Users/Index" class="btn btn-secondary me-3 mt-4" style="color:white !important;">
                            <span class="align-middle">بازگشت</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/CustomJs/Users/UserEdit.js"></script>
    <script src="~/AdminTemplate/assets/js/forms-selects.js"></script>
    <script src="~/AdminTemplate/assets/js/forms-tagify.js"></script>
    <script src="~/AdminTemplate/assets/js/forms-typeahead.js"></script>
    <script src="~/AdminTemplate/assets/vendor/libs/select2/select2.js"></script>
    <script src="~/AdminTemplate/assets/vendor/libs/select2/i18n/fa.js"></script>
    <script src="~/AdminTemplate/assets/vendor/libs/tagify/tagify.js"></script>
    <script src="~/AdminTemplate/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
    <script src="~/AdminTemplate/assets/vendor/libs/bootstrap-select/i18n/defaults-fa_IR.js"></script>
    <script src="~/AdminTemplate/assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="~/AdminTemplate/assets/vendor/libs/bloodhound/bloodhound.js"></script>
}